{% extends "layout.html" %}

{% load static %}

{% block  body %}



<div class="col-md-4 ms-5 mt-4 ">
 <form action="/students/" method="post" enctype="multipart/form-data">
 {% csrf_token %}

    <input name="phone" type="number"  class="form-control mt-2 mb-2 btn btn-outline-success"  placeholder="Phone number" required>
  <br/>
  <input name="amount" type="number"  class="form-control mt-2 mb-2 btn btn-outline-success"  placeholder="Amount"required>
  <br/>
  <input type="submit" class="form-control btn btn-success btn-small"    value="Pay now" >

 </form>


</div>

 {% endblock  %}